<h1>DMN stuff</h1>
<button (click)="example()">Show assets example</button>
<button (click)="saveToXML()">Store to XML</button>
<button (click)="updateFromDecisionTable()">Update from current DMN decision table</button>
<!--<button (click)="parseToTable()">Put the DMN into the Table Object</button>-->
<button (click)="sizeToFit()">Size columns to fit</button>
<button (click)="autoSize()">Autosize columns</button>
<button (click)="downloadDMN()">Download DMN</button>
<br>
<br>
<br>

<ag-grid-angular 
    #agGrid
    style="width: 100%; height: 700px;" 
    class="ag-theme-material"
    id="gridId"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [enableFilter]="true"
    rowSelection="multiple"
    [enableColResize]="true"
    [rowDragManaged]="true"
    [animateRows]="true"
    [suppressDragLeaveHidesColumns]="true"
    (cellClicked)="onCellClicked($event)"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellEdit($event)"
    (rowDragEnd)="onCellEdit($event)"
    [frameworkComponents]="frameworkComponents"
    >
</ag-grid-angular>

<button (click)="addRow()">New Row</button>
<button (click)="addInput()">New Input Column</button>
<button (click)="addOutput()">New Output Column</button>
<div>
    <input type="file" (change)="onFileChanged($event)"/>
</div>
