<div class="{{class}}">
  <span>

    <mat-form-field>
      <input (blur)="enter()" type="text" name="cellText" [(ngModel)]="text" matInput>
    </mat-form-field>
    <button [matMenuTriggerFor]="editionMenu" class="button-edition" mat-button>
      <mat-icon>create</mat-icon>
    </button>
    <mat-menu #editionMenu="matMenu">
      <button mat-menu-item (click)="edition()">Edit</button>
      <button mat-menu-item (click)="deleteRow()">Delete Row</button>
      <button mat-menu-item (click)="deleteColumn()">Delete Column</button>
    </mat-menu>



  </span>
</div>